* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}


.logo {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 100px;
  gap: 10px;
  z-index: 10;
}

.logo img {
  width: 90px; 
  height: auto;
  
}

.logo span  {
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 1024px) {
  .sidebar {
    display: none; 
  }

  .content {
    margin-left: 0; 
  }

  .logo {
    position: relative;
    padding: 5px 0 0 5px;
    width: 60px; /* Smaller size for tablets */
  }

}

@media (max-width: 480px) {
  .logo {
    display: flex;
    position: relative;
    top: 5px;
    left: 5px;
    width: 50px; 
  }
  
}

.sidebar {
  border-right: 1px solid rgb(210, 205, 205);
}

/* navbar menu */

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  padding: 60px 10px 10px 10px;
}

.nav-links p {
  display: flex;
  align-items: center;
  gap: 30px; 
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 8px 12px;
  border-radius: 8px;
}

.nav-links p img {
  width: 24px; 
  height: 24px;
}

.nav-links p:hover {
  background-color: #f4f4f4; 
  color: #000; 
}

.nav-links p:active {
  background-color: #ddd; 
}

.sitImg {
  padding: 20%;
}

.sitImg {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.sitImg img {
  width: 80%; 
  max-width: 120px; 
}

.upgrade-plan {
  background-color: #f4f8ff;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.upgrade-plan p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.upgrade-plan span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #007bff;
  gap: 20px;
}

.upgrade-plan span button {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

.upgrade-plan span button:hover {
  border: 2px solid #007bff;
  border-radius: 30%;
  padding: 5px;
}

.upgrade-plan span img {
  width: 16px; 
  height: 16px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.sidebar,
.right-sidebar {
  background-color: #fff;
  padding: 20px;
}

.main-content {
  padding: 20px;
  background-color: #fff;
}

.header p {
  color: #369fff;
  margin-bottom: 20px;
  font-size: large;
}

.header p span {
  font-weight: 600;
  color: #369fff;
}

.courses,
.planning,
.statistics,
.activity {
  margin-bottom: 20px;
}
.courses h2 {
  font-size: x-large;
  margin-bottom: 15px;
}
.courses h2 span {
  font-size: small;
  padding-left: 20px;
  color: #369fff;
  cursor: pointer;
}

.course-cards,
.plan-list,
.stat-cards {
  display: grid;
  gap: 10px;
}

.course-cards {
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 60px; 
  height: 100%;
  object-fit: cover;
}

.progress-circle {
  width: 52px;
  height: 52px;
  margin-top: 10px;
}

.background-circle {
  stroke: #006ed3;
  stroke-opacity: 0.4;
  stroke-width: 4;
  fill: none;
}

.progress-path {
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
}

.progress-text {
  fill: #fff;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
}

.blue {
  background-color: #4a90e2;
  box-shadow: 0px 4px 4px rgba(74, 144, 226, 0.9);
}
.orange {
  background-color: #f5a623;
  box-shadow: 0px 4px 4px rgba(245, 166, 35, 0.5);
}
.green {
  background-color: #7ed321;
  box-shadow: 0px 4px 4px rgba(126, 211, 33, 0.5);
}
.yellow {
  background-color: #f8e71c;
  box-shadow: 0px 4px 4px rgba(248, 231, 28, 0.5);
}


.plan-card,
.stat-card {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 8px;
  
  gap: 0 20px;
}
.planning-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning-content h2 {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
.planning-content  h2 span {
  font-size: small;
  padding-left: 20px;
  color: #369fff;
  cursor: pointer;
}

.date {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #369fff;
    font-weight: 600;
}

.plan-list {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}

.plan-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.planning-text {
  font-size: small;
}
.planning-text p {
  color: slategray;
  padding-top: 4px;
}

.book {
  padding: 10px;
  background-color: #cfe3f6;
  border-radius: 25%;
}
.read {
  padding: 10px;
  background-color: #f3e4c2;
  border-radius: 25%;
}
.speaker {
  padding: 10px;
  background-color: #faf8e0;
  border-radius: 25%;
}
.audio {
  padding: 10px;
  background-color: #d7f7d3;
  border-radius: 25%;
}


.icon-left {
  width: 20px; 
  height: 20px;
  margin: 0 5px;
}
.icon-right {
  margin: 0 5px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 15px;
  gap: 20px;
  color: white;
}

.notification-icon {
  width: 30px; 
  height: 30px;
}
.down-arrow {
  width: 18px;
  height: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.profile-text {
  display: flex;
  align-items: start;
  background-color: #d1e5f9; 
  border-radius: 16px;
  padding: 10px;
  gap: 10px;
}

.profile-img {
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
}

.profile-details h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: #000;
  line-height: 15px;
}
.profile-in {
  display: flex;
  align-items: center;
  
}

.profile-details p {
  font-size: 12px;
  margin: 0;
  color: #369fff; 
  line-height: 15px;
  font-weight: 500;
}

.statistics h3 {
  padding: 20px 20px 20px 0px;
  font-size: x-large;
}
.statistics {
  padding-left: 10px;
}

.stat-card {
  background-color: #d1e5f9;
  color: slategray;
  line-height: 20px
}
.stat-card p {
  display: flex;
  justify-content: space-between;
  color: #369fff;
  font-size: larger;
  font-weight: 600;
  margin-top: 20px;
  line-height: 20px;
  
}

.activity h3{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
  font-size: x-large;
  align-items: center;
}
.activity span {
  font-size: small;
  font-weight: 200;
  cursor: pointer;
}
.activity span:hover {
  color: #369fff;
}

.right-sidebar {
  border-left: 1px solid rgb(186, 180, 180);
}

.activity-chart {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-top: 60px;
}
.activity-chart img {
  width: 260px;
}


/* Tablet View */
@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }

  .sidebar,
  .main-content,
  .right-sidebar {
    flex: 1;
    margin: 10px;
    margin-top: 20px;
  }

  
  .course-cards {
    grid-template-columns: 1fr 1fr;
  }
}


/* Desktop View */
@media (min-width: 1024px) {
  .dashboard-container {
    grid-template-columns: 1fr 2fr 1fr;
    display: grid;
 
  }

  .course-cards {
    grid-template-columns: 1fr 1fr;
  }

  .stat-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
 
  .course-cards {
    grid-template-columns: 1fr 1fr;
  }

  .stat-cards {
    grid-template-columns: 1fr 1fr;
  }
}


/* Tablet view */
@media (max-width: 1024px) {
  .dashboard-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .logo {
    display: none; /
  }

  .main-content {
    padding: 15px;
  }

  .course-cards, .plan-list {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-links p {
    font-size: 14px;
  }

  .courses h2, .planning h2 {
    font-size: 18px;
  }

  .header {
    font-size: 20px;
  }

  .card-content p {
    font-size: 14px;
  }

  .plan-card {
    padding: 10px;
  }

  .progress-circle {
    width: 40px;
    height: 40px;
  }
}

/* Small mobile view */
@media (max-width: 480px) {
  .sidebar {
    align-items: center;
    justify-content: space-around;
  }

  .nav-links p {
    font-size: 12px;
  }

  .header {
    font-size: 18px;
  }

  .card-content p, .courses h2, .planning h2 {
    font-size: 16px;
  }
}




@media (max-width: 768px) {
  .plan-list {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }

  .plan-card {
    width: 100%; 
  }
}


@media (max-width: 1180px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0; 
  }

  .logo {
    display: block;
    width: 50px; 
    height: auto;
    margin-left: 0; 
  }
}


@media (max-width: 480px) {
  .logo {
    display: block;
    width: 40px; 
    height: auto;
    margin-left: 0;
  }
}
